node_modules 

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-snapshots/

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate*
wp-content/object-cache.php
wp-content/mysql.sql

# wp core (as of 6.0.1)
/wp-config.php
/wp-admin
/wp-includes
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentytwo
/media

.DS_Store
._.DS_Store
/.idea/.gitignore
/.idea/hbarebates.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/

.ftpquota
.tmb/
.well-known/
conf/
php_errorlog
yes-icon.svg
/wp-content/mu-plugins
/wp-content/backups-dup-lite

