.hero-small {
  display: flex;
  align-items: center;
  position: relative;
  padding: 105px 0 45px;
  overflow: hidden;
  @include media-breakpoint-up(lg){
    padding: 130px 0 55px;
  }
  &.height-medium {
    @include media-breakpoint-up(xl){
      height: 550px;
    }
  }
  &.height-small {
    @include media-breakpoint-up(xl){
      height: 470px;
    }
  }
  &.height-tiny {
    @include media-breakpoint-up(lg){
      height: 340px;
    }
  }
  .hero-small_content {
    width: 100%;
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
  .hero-small_eyebrow {
    text-transform: uppercase;
    font-weight: $fw-bold;
    font-size: $fs-rg;
    margin-bottom: 18px;
    display: block;
    @include media-breakpoint-up(md){
      margin-bottom: 25px;
    }
  }
  .hero-small_title {
    margin-bottom: 15px;
    @include media-breakpoint-up(md){
      margin-bottom: 34px;
    }
  }
  .hero-small_text {
    font-size: $fs-rg;
    @include media-breakpoint-up(md){
      font-size: $fs-lg;
    }
  }
  .hero-small_cta {
    margin-top: 27px;
    .btn + .btn {
      margin: 27px 0 0 0;
      display: block;
      &.btn-link {
        text-align: left;
      }
      @include media-breakpoint-up(xl) {
        margin: 0 0 0 43px;
        display: inline-block;
        &.btn-link {
          text-align: center;
        }
      }
    }
  }
  .decor-element {
    position: absolute;
    width: 392px;
    height: 315px;
    left: 50%;
    margin-left: -195px;
    bottom: -130px;
    background: $blue-light;
    opacity: 0.7;
    filter: blur(160.628px);
    -webkit-filter: blur(160.628px);
    -ms-filter: blur(160.628px);
    display: none;
    z-index: 0;
    @-moz-document url-prefix() {
      opacity: 0.5;
    }
    @include media-breakpoint-up(md){
      width: 1165px;
      height: 645px;
      margin-left: -600px;
      bottom: -400px;
      filter: blur(418px);
      -webkit-filter: blur(418px);
      -ms-filter: blur(418px);
      @-moz-document url-prefix() {
        opacity: 0.3;
        width: 600px;
        margin-left: -300px;
        bottom: -273px;
      }
      @media not all and (min-resolution:.001dpcm) {
        width: 600px;
        margin-left: -300px;
        bottom: -273px;
        filter: blur(160px);
      }
    }
  }
  &.scheme-dark {
    &.bg-dotted {
      background: $mainColor url("../img/hero-small-bg-dotted.svg") repeat;
    }
    &.bg-waves {
      background: $mainColor url("../img/hero-small-bg-waves.svg") no-repeat top right;
    }
    .hero-small_eyebrow {
      color: $white;
    }
    .hero-small_title {
      color: $white;
    }
    .hero-small_text {
      color: $gray;
    }
    .decor-element {
      display: block;
    }
  }
  &.scheme-light {
    background: $white url("../img/hero-bg-top-dark.svg") repeat;
    .hero-small_eyebrow {
      color: $blue-gray;
    }
    .hero-small_title {
      color: $mainColor;
    }
    .hero-small_text {
      color: $blue-gray;
    }
  }
}