.rich-text {
  padding: 50px 0 50px;
  @include media-breakpoint-up(md){
    padding: 70px 0 70px;
  }
  &.scheme_white {
    background: $white;
  }
  &.scheme_light-gray {
    background: $gray4 url("../img/promo-split-bg.svg") no-repeat top right;
  }
  h2, h3, h4, h5 {
    color: $mainColor;
    font-family: $ff;
    font-weight: $fw-bold;
    line-height: 1.2;
    letter-spacing: 0;
    margin: 20px 0 24px;
    @include media-breakpoint-up(md){
      margin: 57px 0 24px;
    }
  }
  h2 {
    font-size: 28px;
    &:first-child {
      margin: 0 0 24px;
    }
    @include media-breakpoint-up(md){
      font-size: 34px;
    }
    @include media-breakpoint-up(lg){
      font-size: 42px;
    }
  }
  h3 {
    font-size: 22px;
    @include media-breakpoint-up(md){
      font-size: 27px;
    }
    @include media-breakpoint-up(lg){
      font-size: 30px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-breakpoint-up(md){
      font-size: 24px;
    }
    @include media-breakpoint-up(lg){
      font-size: 26px;
    }
  }
  h5 {
    font-size: 18px;
    @include media-breakpoint-up(md){
      font-size: 20px;
    }
    @include media-breakpoint-up(lg){
      font-size: 22px;
    }
  }
  p {
    color: $blue-gray;
    font-weight: $fw-medium;
    font-size: $fs-md;
    line-height: 1.4;
    margin-bottom: 23px;
  }
  img.aligncenter {
    margin: 35px 0 0;
  }
  img.alignright {
    float: right;
    margin: 0 0 15px 15px;
  }
  img.alignleft {
    float: left;
    margin: 0 15px 15px 0;
  }
  ol, ul {
    margin: 0;
    padding: 0 0 0 27px;
    li {
      margin-bottom: 12px;
      color: $blue-gray;
    }
  }
  small {
    font-size: $fs-sm;
  }
  blockquote {
    font-family: $ff-title;
    font-weight: $fw-medium;
    font-size: 25px;
    line-height: 1.3;
    letter-spacing: 0.1px;
    color: $mainColor;
    margin: 30px 0 27px;
    @include media-breakpoint-up(md){
      margin: 61px 0 27px;
      font-size: 28px;
    }
    p {
      font-family: $ff-title;
      font-weight: $fw-medium;
      font-size: 25px;
      line-height: 1.3;
      letter-spacing: 0.1px;
      color: $mainColor;
      @include media-breakpoint-up(md){
        font-size: 28px;
      }
    }
  }
  cite {
    font-family: $ff;
    font-weight: $fw-medium;
    font-size: $fs-md;
    display: block;
    line-height: 1.4;
    margin-bottom: 28px;
    font-style: normal;
    color: $mainColor;
    @include media-breakpoint-up(md){
      margin-bottom: 58px;
      font-size: $fs-xl;
    }
  }
  table {
    border: 1px solid $table-border;
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0;
    margin: 10px 0 30px;
    @include media-breakpoint-up(md){
      margin: 10px 0 60px;
      overflow-x: unset;
    }
  }
  th {
    font-weight: $fw-semibold;
    font-size: $fs-rg;
    line-height: 1.3;
    text-align: center;
    color: $mainColor;
    padding: 10px;
    border-bottom: 1px solid $table-border;
    background: $bg-color;
    height: 34px;
    min-width: 120px;
    @include media-breakpoint-up(md){
      height: 74px;
      padding: 10px 20px;
      font-size: $fs-lg;
    }
  }
  td {
    border-bottom: 1px solid $table-border;
    font-weight: $fw-medium;
    font-size: $fs-rg;
    line-height: 1.3;
    text-align: center;
    color: $blue-gray;
    height: 36px;
    padding: 7px;
    @include media-breakpoint-up(md){
      height: 66px;
    }
  }
}